@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  background-image:linear-gradient(to left, #eff2ffdb 0%, #f3f3f3c9 52%, #f9f9f9ba 100%), url("https://img.freepik.com/free-vector/cyber-security-concept_53876-93190.jpg?w=1060&t=st=1687896916~exp=1687897516~hmac=98b2bd51658e6947ca84c16c5db74e5948acb9b05ab2417bce9b514cbbc459bd");

  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
}